body {
  font-family: 'maven-light', sans-serif;
}

.navigation-piano-guide
{
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.navigation-button-piano-guide
{
  cursor: pointer;
  border-radius: 50%;
  background-color: #EF7D00;
  color: #FFF;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 2em;
  display: inline-block;
  margin: 10px;
  

}

.navigation-button-piano-guide:hover
{
  background-color: #fff;
  border: 2px solid #EF7D00;
  color: #000;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.navigation-button-piano-guide:focus
{
  outline: 0;

}

.navigation-previous
{
  margin: 10px;
}

.navigation-next
{
  text-align: right;
  margin: 10px;
}

.navigation-headline
{
  color: #EF7D00;
  font-size: 0.75em;
  margin-bottom: 0.25em;
}